<% if current_user %>
  Conectado como <strong><%= current_user.name %></strong> !
  <br><br>
  <a href="/vagas-remanescentes" class="btn btn-lg btn-default">
  	<span class="fa fa-arrow-circle-right"> Continuar</span> 
  </a>
  <a href="/logout" class="btn btn-md btn-link">
  	Sair
  </a>
<%else%>
  <a href="/new_user" class="btn btn-lg btn-link">
  	<span class="fa fa-arrow-circle-right"> Login</span>
  </a>
<%end%>
