<div class="modalz">
	<!--<div><img src="/images/logo-univesp.jpg" class="img-responsive"></div>-->
  	<b><br>Prezado(a) candidato(a),</b><br><br>
  	Faça seu cadastro utilizando<br>seu login do Facebook ou Gmail:<br><br>
  	<a href="users/auth/facebook" scope="public_profile,email" onlogin="checkLoginState();" id="sign in" class="btn btn-block btn-lg" style="background-color:#3B5998;color:white;">
  		<span class="fa fa-facebook-square"></span> Facebook</a>
  	<a href="users/auth/google_oauth2" class="btn btn-block btn-lg" style="background-color:#d34836;color:white;">
  		<span class="fa fa-google-plus-square"></span> Gmail</a>
</div>