%select.form-control{:id => select_info[:id], :style => "width:90%;", :onchange => "handleOtherSelects(this);" }
  %option{ :value => "" } Selecione o Polo
  - select_info[:options].each do |option|
    %option{ :value =>  "#{option[:value]}"} #{option[:text]}
