!!!
%html{:lang => "pt-br"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title UNIVESP / Formulário de Vagas Remanescentes
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %link{:href => "https://apps.univesp.br/estagio/assets/stylesheets/ficha.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    :css
      .green{background-color: #27c24c}
      .red{background-color: #f05050}
      .blue{background-color: #23b7e5}
      .m-t{margin-top: 10px}
      .m-r{margin-right: 5px}
      .m-l{margin-left: 5px}
      .w{color: #ffffff}
      .none{text-decoration: none !important;}
      .bw2{border: solid gray 2px;}
      .br2{border-right: solid gray 2px !important}
      .bl2{border-left: solid gray 2px !important}
      .image-upload > input
      {
          display: none;
      }

      .image-upload img
      {
          width: 80px;
          cursor: pointer;
      }
      .contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535
      }

      .contact_form input:required:valid, .contact_form textarea:required:valid { /* when a field is considered valid by the browser */
        box-shadow: 0 0 5px #5cd053;
        border-color: #28921f;
      }
  %body{:style => "margin-top: 120px; max-width:970px;"}
    .container{:style => "max-width:970px;"}
      #login-modal{:style => "display:none;"}
        = render 'login_modal'
      .row
        .col-md-12
          / Topo
          .navbar.navbar-default.navbar-fixed-top.container{:style => "background-color:rgba(0,0,0,0.7); color:white; max-width:970px;"}
            .col-sm-12
              %h3
                %i.fa.fa-fw.fa-file-o
                Formulário de Vagas Remanescentes
                %span.label.label-danger.pull-right Prazo: 09/01/2017
          / Formulário
          %form.form-horizontal{:action => 'socio/submit', :method => 'POST'}
            %p
              %span{:style => "color:#AF1E23;"} * Campos obrigatórios.
              Certifique-se de preenchê-los todos antes de enviar o formulário.
            .container.boxes{:style => "max-width:970px;"}
              .row{:style => "margin-top:20px;"}
                %h2 QUESTIONÁRIO SOCIOECONÔMICO – UNIVESP
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-3
                  .panel-body
                    %b.obrigatorio 1. Qual a sua idade?
                    .radio
                      %label
                        %input{:name => "age", :type => "radio", :required => "", :value => "<=19" }>/
                        Até 19 anos
                    .radio
                      %label
                        %input{:name => "age", :type => "radio", :required => "", :value => "20-24"}>/
                        De 20 a 24 anos
                    .radio
                      %label
                        %input{:name => "age", :type => "radio", :required => "", :value => "25-30"}>/
                        De 25 a 30 anos
                    .radio
                      %label
                        %input{:name => "age", :type => "radio", :required => "", :value => "31-35"}>/
                        De 31 a 35 anos
                    .radio
                      %label
                        %input{:name => "age", :type => "radio", :required => "", :value => "36-45"}>/
                        De 36 a 45 anos
                    .radio
                      %label
                        %input{:name => "age", :type => "radio", :required => "", :value => "46-55"}>/
                        De 46 a 55 anos
                    .radio
                      %label
                        %input{:name => "age", :type => "radio", :required => "", :value => ">55"}>/
                        Mais de 55 anos
                .panel.panel-default.col-md-3.m-l{:style => "height:241px;"}
                  .panel-body
                    %b.obrigatorio 2. Como você se autodeclara?
                    .radio
                      %label
                        %input{:name => "self-declaration", :type => "radio", :required => "", :value => "white"}>/
                        Branco
                    .radio
                      %label
                        %input{:name => "self-declaration", :type => "radio", :required => "", :value => "black"}>/
                        Preto
                    .radio
                      %label
                        %input{:name => "self-declaration", :type => "radio", :required => "", :value => "brown"}>/
                        Pardo
                    .radio
                      %label
                        %input{:name => "self-declaration", :type => "radio", :required => "", :value => "yellow"}>/
                        Amarelo
                    .radio
                      %label
                        %input{:name => "self-declaration", :type => "radio", :required => "", :value => "other"}>/
                        Outra
                .panel.panel-default.col-md-3.m-l{:style => "height:241px;"}
                  .panel-body
                    %b.obrigatorio 3. Qual o seu estado civil?
                    .radio
                      %label
                        %input{:name => "marital-status", :type => "radio", :required => "", :value => "single"}>/
                        Solteiro
                    .radio
                      %label
                        %input{:name => "marital-status", :type => "radio", :required => "", :value => "married"}>/
                        Casado
                    .radio
                      %label
                        %input{:name => "marital-status", :type => "radio", :required => "", :value => "union"}>/
                        União estável
                    .radio
                      %label
                        %input{:name => "marital-status", :type => "radio", :required => "", :value => "divorced"}>/
                        Separado
                    .radio
                      %label
                        %input{:name => "marital-status", :type => "radio", :required => "", :value => "other"}>/
                        Outro
                .panel.panel-default.col-md-2.m-l{:style => "height:241px;"}
                  .panel-body
                    %b.obrigatorio 4. Qual o seu sexo?
                    .radio
                      %label
                        %input{:name => "gender", :type => "radio", :required => "", :value => "male"}>/
                        Feminino
                    .radio
                      %label
                        %input{:name => "gender", :type => "radio", :required => "", :value => "female"}>/
                        Masculino
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-4
                  .panel-body
                    %b.obrigatorio 5. Que tipo de ensino médio (2º grau ou equivalente) você concluiu?
                    .radio
                      %label
                        %input{:name => "high-school-type", :type => "radio", :required => "", :value => "regular"}>/
                        Ensino médio regular (seriado)
                    .radio
                      %label
                        %input{:name => "high-school-type", :type => "radio", :required => "", :value => "technical"}>/
                        Ensino técnico
                    .radio
                      %label
                        %input{:name => "high-school-type", :type => "radio", :required => "", :value => "eja"}>/
                        Educação de Jovens e Adultos (EJA) ou supletivo
                    .radio
                      %label
                        %input{:name => "high-school-type", :type => "radio", :required => "", :value => "enem"}>/
                        Certificação pelo ENEM
                    .radio
                      %label
                        %input{:name => "high-school-type", :type => "radio", :required => "", :value => "other"}>/
                        Outro
                .panel.panel-default.col-md-4.m-l{:style => "height:254px;"}
                  .panel-body
                    %b.obrigatorio 6. O seu ensino médio foi realizado:
                    .radio
                      %label
                        %input{:name => "high-school-where", :type => "radio", :required => "", :value => "public"}>/
                        Integralmente em escola pública
                    .radio
                      %label
                        %input{:name => "high-school-where", :type => "radio", :required => "", :value => "private"}>/
                        Integralmente em escola privada
                    .radio
                      %label
                        %input{:name => "high-school-where", :type => "radio", :required => "", :value => "majority-public"}>/
                        Maior parte em escola pública
                    .radio
                      %label
                        %input{:name => "high-school-where", :type => "radio", :required => "", :value => "majority-private"}>/
                        Maior parte em escola privada
                    .radio
                      %label
                        %input{:name => "high-school-where", :type => "radio", :required => "", :value => "other"}>/
                        Outra forma
                .panel.panel-default.col-md-3.m-l{:style => "height:254px;"}
                  .panel-body
                    %b.obrigatorio 7. Você realizou alguma vez o ENEM (Exame Nacional do Ensino Médio)?
                    .radio
                      %label
                        %input{:name => "made-enem", :type => "radio", :required => "", :value => "yes"}>/
                        Sim
                    .radio
                      %label
                        %input{:name => "made-enem", :type => "radio", :required => "", :value => "no"}>/
                        Não
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-3
                  .panel-body
                    %b.obrigatorio 8. Em que ano você concluiu o ensino médio ou equivalente?
                    .radio
                      %label
                        %input{:name => "high-school-conclusion", :type => "radio", :required => "", :value => "now"}>/
                        Acabo de concluir
                    .radio
                      %label
                        %input{:name => "high-school-conclusion", :type => "radio", :required => "", :value => "2015"}>/
                        Em 2015
                    .radio
                      %label
                        %input{:name => "high-school-conclusion", :type => "radio", :required => "", :value => "2013-2014"}>/
                        Em 2013 ou 2014
                    .radio
                      %label
                        %input{:name => "high-school-conclusion", :type => "radio", :required => "", :value => "2011-2012"}>/
                        Em 2011 ou 2012
                    .radio
                      %label
                        %input{:name => "high-school-conclusion", :type => "radio", :required => "", :value => "2009-2010"}>/
                        Em 2009 ou 2010
                    .radio
                      %label
                        %input{:name => "high-school-conclusion", :type => "radio", :required => "", :value => "2004-2008"}>/
                        Entre 2004 e 2008
                    .radio
                      %label
                        %input{:name => "high-school-conclusion", :type => "radio", :required => "", :value => "<2004"}>/
                        Antes de 2004
                .panel.panel-default.col-md-5.m-l{:style => "height:254px;"}
                  .panel-body
                    %b.obrigatorio 9. Você cursou o ensino médio:
                    .radio
                      %label
                        %input{:name => "high-school-period", :type => "radio", :required => "", :value => "day"}>/
                        No período diurno (matutino e/ou vespertino)
                    .radio
                      %label
                        %input{:name => "high-school-period", :type => "radio", :required => "", :value => "night"}>/
                        No período noturno
                    .radio
                      %label
                        %input{:name => "high-school-period", :type => "radio", :required => "", :value => "majority-day"}>/
                        Maior parte no diurno
                    .radio
                      %label
                        %input{:name => "high-school-period", :type => "radio", :required => "", :value => "majority-night"}>/
                        Maior parte no noturno
                    .radio
                      %label
                        %input{:name => "high-school-period", :type => "radio", :required => "", :value => "other"}>/
                        Conclui o ensino médio de outra forma (supletivo, ENEM etc)
                .panel.panel-default.col-md-3.m-l{:style => "height:254px;"}
                  .panel-body
                    %b.obrigatorio 10. Você já iniciou algum curso superior?
                    .radio
                      %label
                        %input{:name => "higher-ed", :type => "radio", :required => "", :value => "no"}>/
                        Não
                    .radio
                      %label
                        %input{:name => "higher-ed", :type => "radio", :required => "", :value => "yes-abandoned"}>/
                        Sim, mas abandonei
                    .radio
                      %label
                        %input{:name => "higher-ed", :type => "radio", :required => "", :value => "yes-ongoing"}>/
                        Sim, estou cursando
                    .radio
                      %label
                        %input{:name => "higher-ed", :type => "radio", :required => "", :value => "yes-concluded"}>/
                        Sim, e já concluí
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-5{:style => "height:261px;"}
                  .panel-body
                    %b.obrigatorio 11. A sua escolha pela UNIVESP se deu principalmente porque:
                    .radio
                      %label
                        %input{:name => "why-univesp", :type => "radio", :required => "", :value => "meet-needs"}>/
                        O curso oferecido é exatamente o que você procura
                    .radio
                      %label
                        %input{:name => "why-univesp", :type => "radio", :required => "", :value => "free"}>/
                        O curso oferecido é gratuito
                    .radio
                      %label
                        %input{:name => "why-univesp", :type => "radio", :required => "", :value => "best-option"}>/
                        Não havia opção melhor para este momento
                    .radio
                      %label
                        %input{:name => "why-univesp", :type => "radio", :required => "", :value => "quality"}>/
                        Você quer fazer um curso superior de qualidade
                    .radio
                      %label
                        %input{:name => "why-univesp", :type => "radio", :required => "", :value => "diploma"}>/
                        Você precisa de um diploma de graduação
                    .radio
                      %label
                        %input{:name => "why-univesp", :type => "radio", :required => "", :value => "other"}>/
                        Outra razão
                .panel.panel-default.col-md-6.m-l
                  .panel-body
                    %b.obrigatorio 12. Com relação à forma de desenvolvimento do curso, você:
                    .radio
                      %label
                        %input{:name => "course-mode", :type => "radio", :required => "", :value => "no-time-for-presential"}>/
                        não teria tempo de fazer um curso presencial
                    .radio
                      %label
                        %input{:name => "course-mode", :type => "radio", :required => "", :value => "distance-is-calmer"}>/
                        acha que um curso a distância é mais tranquilo
                    .radio
                      %label
                        %input{:name => "course-mode", :type => "radio", :required => "", :value => "study-at-weekends"}>/
                        espera estudar apenas nos finais de semana
                    .radio
                      %label
                        %input{:name => "course-mode", :type => "radio", :required => "", :value => "no-patience-for-presential"}>/
                        não tem paciência para assistir aulas presenciais
                    .radio
                      %label
                        %input{:name => "course-mode", :type => "radio", :required => "", :value => "some-by-distance-others-presential"}>/
                        pretende fazer algumas disciplinas a distância e depois mudar para um curso presencial
                    .radio
                      %label
                        %input{:name => "course-mode", :type => "radio", :required => "", :value => "dont-thought-about"}>/
                        não pensou no assunto, mas acha que pode dar certo
                    .radio
                      %label
                        %input{:name => "course-mode", :type => "radio", :required => "", :value => "other"}>/
                        outra
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-4{:style => "height:254px;"}
                  .panel-body
                    %b.obrigatorio 13. Onde você mora?
                    .radio
                      %label
                        %input{:name => "where-live", :type => "radio", :required => "", :value => "sp-city"}>/
                        No município de São Paulo
                    .radio
                      %label
                        %input{:name => "where-live", :type => "radio", :required => "", :value => "sp-region"}>/
                        Na Região Metropolitana de São Paulo
                    .radio
                      %label
                        %input{:name => "where-live", :type => "radio", :required => "", :value => "santos-region"}>/
                        Na Baixada Santista
                    .radio
                      %label
                        %input{:name => "where-live", :type => "radio", :required => "", :value => "sp-interior"}>/
                        No interior do Estado
                    .radio
                      %label
                        %input{:name => "where-live", :type => "radio", :required => "", :value => "other-state"}>/
                        Em outro Estado
                .panel.panel-default.col-md-3.m-l
                  .panel-body
                    %b.obrigatorio 14. Você mora:
                    .radio
                      %label
                        %input{:name => "house-type", :type => "radio", :required => "", :value => "rented-house"}>/
                        Em casa alugada
                    .radio
                      %label
                        %input{:name => "house-type", :type => "radio", :required => "", :value => "own-house"}>/
                        Em casa própria
                    .radio
                      %label
                        %input{:name => "house-type", :type => "radio", :required => "", :value => "rented-apart"}>/
                        Em apartamento alugado
                    .radio
                      %label
                        %input{:name => "house-type", :type => "radio", :required => "", :value => "own-apart"}>/
                        Em apartamento próprio
                    .radio
                      %label
                        %input{:name => "house-type", :type => "radio", :required => "", :value => "farmhouse"}>/
                        Em chácara ou sítio
                    .radio
                      %label
                        %input{:name => "house-type", :type => "radio", :required => "", :value => "other"}>/
                        Outro
                .panel.panel-default.col-md-4.m-l{:style => "height:254px;"}
                  .panel-body
                    %b.obrigatorio 15. Você mora:
                    .radio
                      %label
                        %input{:name => "live-with", :type => "radio", :required => "", :value => "parents"}>/
                        Com seus pais ou parentes
                    .radio
                      %label
                        %input{:name => "live-with", :type => "radio", :required => "", :value => "friends"}>/
                        Com amigos
                    .radio
                      %label
                        %input{:name => "live-with", :type => "radio", :required => "", :value => "spouse"}>/
                        Com cônjuge (companheiro(a))
                    .radio
                      %label
                        %input{:name => "live-with", :type => "radio", :required => "", :value => "alone"}>/
                        Sozinho
                    .radio
                      %label
                        %input{:name => "live-with", :type => "radio", :required => "", :value => "other"}>/
                        Outro
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-3{:style => "height:327px;"}
                  .panel-body
                    %b.obrigatorio 16. Você trabalha?
                    .radio
                      %label
                        %input{:name => "work", :type => "radio", :required => "", :value => "no"}>/
                        Não
                    .radio
                      %label
                        %input{:name => "work", :type => "radio", :required => "", :value => "yes-part"}>/
                        Sim, em meio período (até 20 horas semanais)
                    .radio
                      %label
                        %input{:name => "work", :type => "radio", :required => "", :value => "yes-full"}>/
                        Sim, em período integral
                    .radio
                      %label
                        %input{:name => "work", :type => "radio", :required => "", :value => "eventually"}>/
                        Apenas eventualmente
                    .radio
                      %label
                        %input{:name => "work", :type => "radio", :required => "", :value => "other"}>/
                        Outra
                .panel.panel-default.col-md-4.m-l
                  .panel-body
                    %b.obrigatorio 17. Qual a sua participação na vida econômica em sua residência?
                    .radio
                      %label
                        %input{:name => "house-economic-participation", :type => "radio", :required => "", :value => "no-work"}>/
                        Não trabalho e meus gastos são financiados pela família ou outros
                    .radio
                      %label
                        %input{:name => "house-economic-participation", :type => "radio", :required => "", :value => "fund-my-studies"}>/
                        Trabalho para custear meus estudos mas recebo ajuda financeira da família
                    .radio
                      %label
                        %input{:name => "house-economic-participation", :type => "radio", :required => "", :value => "fund-my-expenses"}>/
                        Trabalho para minha própria manutenção
                    .radio
                      %label
                        %input{:name => "house-economic-participation", :type => "radio", :required => "", :value => "contribute-to-family"}>/
                        Trabalho para minha manutenção e contribuo para o orçamento familiar
                    .radio
                      %label
                        %input{:name => "house-economic-participation", :type => "radio", :required => "", :value => "responsible-for-family"}>/
                        Trabalho e sou o responsável pelo sustento da minha família
                .panel.panel-default.col-md-4.m-l{:style => "height:327px;"}
                  .panel-body
                    %b.obrigatorio 18. Qual é a sua renda bruta mensal? (considere um salário mínimo nacional de 2016, de R$ 880,00)
                    .radio
                      %label
                        %input{:name => "my-gross-income", :type => "radio", :required => "", :value => "no-wage"}>/
                        Não tenho renda
                    .radio
                      %label
                        %input{:name => "my-gross-income", :type => "radio", :required => "", :value => "<1-min-wage"}>/
                        Até 1 salário mínimo
                    .radio
                      %label
                        %input{:name => "my-gross-income", :type => "radio", :required => "", :value => "<2-min-wages"}>/
                        Até 2 salários mínimos
                    .radio
                      %label
                        %input{:name => "my-gross-income", :type => "radio", :required => "", :value => ">=2-<5-min-wages"}>/
                        Mais do que 2 e menos do que 5 salários mínimos
                    .radio
                      %label
                        %input{:name => "my-gross-income", :type => "radio", :required => "", :value => ">=5-<10-min-wages"}>/
                        Mais do que 5 e menos do que 10 salários mínimos
                    .radio
                      %label
                        %input{:name => "my-gross-income", :type => "radio", :required => "", :value => ">=10-min-wages"}>/
                        Mais do que 10 salários mínimos
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-4{:style => "height:355px;"}
                  .panel-body
                    %b.obrigatorio 19. Qual é o rendimento mensal se somadas todas as pessoas do seu domicílio? (considere um salário mínimo nacional de 2016, de R$ 880,00)
                    .radio
                      %label
                        %input{:name => "family-income", :type => "radio", :required => "", :value => "<1-min-wage"}>/
                        Até 1 salário mínimo
                    .radio
                      %label
                        %input{:name => "family-income", :type => "radio", :required => "", :value => "<2-min-wages"}>/
                        Até 2 salários mínimos
                    .radio
                      %label
                        %input{:name => "family-income", :type => "radio", :required => "", :value => ">=2-<5-min-wages"}>/
                        Mais do que 2 e menos do que 5 salários mínimos
                    .radio
                      %label
                        %input{:name => "family-income", :type => "radio", :required => "", :value => ">=5-<10-min-wages"}>/
                        Mais do que 5 e menos do que 10 salários mínimos
                    .radio
                      %label
                        %input{:name => "family-income", :type => "radio", :required => "", :value => ">=10-<20-min-wages"}>/
                        Mais do que 10 e menos do que 20 salários mínimos
                    .radio
                      %label
                        %input{:name => "family-income", :type => "radio", :required => "", :value => ">=20-min-wages"}>/
                        Mais do que 20 salários mínimos
                .panel.panel-default.col-md-3.m-l{:style => "height:355px;"}
                  .panel-body
                    %b.obrigatorio 20. Quantas pessoas contribuem para essa renda familiar, incluindo você:
                    .radio
                      %label
                        %input{:name => "how-many-contribute", :type => "radio", :required => "", :value => "1"}>/
                        Uma
                    .radio
                      %label
                        %input{:name => "how-many-contribute", :type => "radio", :required => "", :value => "2"}>/
                        Duas
                    .radio
                      %label
                        %input{:name => "how-many-contribute", :type => "radio", :required => "", :value => "3"}>/
                        Três
                    .radio
                      %label
                        %input{:name => "how-many-contribute", :type => "radio", :required => "", :value => "4"}>/
                        Quatro
                    .radio
                      %label
                        %input{:name => "how-many-contribute", :type => "radio", :required => "", :value => ">4"}>/
                        Mais do que quatro
                .panel.panel-default.col-md-4.m-l
                  .panel-body
                    %b.obrigatorio 21. Qual é o nível de instrução de seu pai?
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "illiterate"}>/
                        Analfabeto
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "read-and-write"}>/
                        Lê e escreve mas nunca esteve na escola
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "elementary-not-completed"}>/
                        Não concluiu o ensino fundamental
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "elementary-completed"}>/
                        Ensino fundamental completo
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "high-school-not-completed"}>/
                        Ensino médio (antigo 2º grau) incompleto
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "high-school-completed"}>/
                        Ensino médio completo
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "higher-ed-not-completed"}>/
                        Ensino superior incompleto
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "higher-ed-completed"}>/
                        Ensino superior completo
                    .radio
                      %label
                        %input{:name => "father-instruction-level", :type => "radio", :required => "", :value => "postgraduate"}>/
                        Pós-graduação
              .row{:style => "margin-top:20px;"}
                .panel.panel-default.col-md-3
                  .panel-body
                    %b.obrigatorio 22. Qual é o nível de instrução de sua mãe?
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "illiterate"}>/
                        Analfabeto
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "read-and-write"}>/
                        Lê e escreve mas nunca esteve na escola
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "elementary-not-completed"}>/
                        Não concluiu o ensino fundamental
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "elementary-completed"}>/
                        Ensino fundamental completo
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "high-school-not-completed"}>/
                        Ensino médio (antigo 2º grau) incompleto
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "high-school-completed"}>/
                        Ensino médio completo
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "higher-ed-not-completed"}>/
                        Ensino superior incompleto
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "higher-ed-completed"}>/
                        Ensino superior completo
                    .radio
                      %label
                        %input{:name => "mother-instruction-level", :type => "radio", :required => "", :value => "postgraduate"}>/
                        Pós-graduação
                .panel.panel-default.col-md-3.m-l{:style => "height:435px;"}
                  .panel-body
                    %b.obrigatorio 23. Você acessa a internet com frequência?
                    .radio
                      %label
                        %input{:name => "internet-frequency", :type => "radio", :required => "", :value => "no-use"}>/
                        Não
                    .radio
                      %label
                        %input{:name => "internet-frequency", :type => "radio", :required => "", :value => "yes-at-work"}>/
                        Sim, a partir do trabalho
                    .radio
                      %label
                        %input{:name => "internet-frequency", :type => "radio", :required => "", :value => "yes-at-home"}>/
                        Sim, em casa
                    .radio
                      %label
                        %input{:name => "internet-frequency", :type => "radio", :required => "", :value => "yes-home-broadband"}>/
                        Sim, em casa e tenho instalada “banda larga”
                    .radio
                      %label
                        %input{:name => "internet-frequency", :type => "radio", :required => "", :value => "yes-lan-house"}>/
                        Sim, em “lan house” e outros locais públicos
                .panel.panel-default.col-md-3.m-l{:style => "height:435px;"}
                  .panel-body
                    %b.obrigatorio 24. O acesso a Internet é feito principalmente:
                    .radio
                      %label
                        %input{:name => "internet-medium", :type => "radio", :required => "", :value => "no-access"}>/
                        Não acesso
                    .radio
                      %label
                        %input{:name => "internet-medium", :type => "radio", :required => "", :value => "from-pc"}>/
                        A partir de computador
                    .radio
                      %label
                        %input{:name => "internet-medium", :type => "radio", :required => "", :value => "from-phone"}>/
                        A partir do celular
                    .radio
                      %label
                        %input{:name => "internet-medium", :type => "radio", :required => "", :value => "from-tablet"}>/
                        A partir de “tablet”
                    .radio
                      %label
                        %input{:name => "internet-medium", :type => "radio", :required => "", :value => "from-tv"}>/
                        A partir da TV
                    .radio
                      %label
                        %input{:name => "internet-medium", :type => "radio", :required => "", :value => "from-game-console"}>/
                        A partir de “console de games”
                .panel.panel-default.col-md-2.m-l{:style => "height:435px;"}
                  .panel-body
                    %b.obrigatorio 25. Você usa aplicativos?
                    .radio
                      %label
                        %input{:name => "apps", :type => "radio", :required => "", :value => "no-apps"}>/
                        Não
                    .radio
                      %label
                        %input{:name => "apps", :type => "radio", :required => "", :value => "yes-for-games"}>/
                        Sim, para acesso a jogos
                    .radio
                      %label
                        %input{:name => "apps", :type => "radio", :required => "", :value => "yes-for-social"}>/
                        Sim, para acesso a redes sociais
                    .radio
                      %label
                        %input{:name => "apps", :type => "radio", :required => "", :value => "yes-for-work"}>/
                        Sim, para o trabalho
                    .radio
                      %label
                        %input{:name => "apps", :type => "radio", :required => "", :value => "yes-for-others"}>/
                        Sim, para outros fins.
              %hr/
              .col-md-12
                .image-upload
                  %label.btn.btn-lg.green.m-t.w.pull-right{:for => "continue"}
                    %span.glyphicon.glyphicon-share-alt.m-r
                    Continuar
                  %input#continue{:type => "submit"}
            .container{:style => "border-bottom:4px solid gray;max-width:970px;"}
      / row
    / container
    %script{:src => "https://code.jquery.com/jquery-1.10.2.js"}
    %script{:src => "https://code.jquery.com/ui/1.11.3/jquery-ui.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/jquery.maskedinput.min.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/bootbox.min.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/form.upload.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/form.main.js"}
    :javascript
      $(function() {
        $.ajax({
          url: "login"
        })
        .done(function (data) {
          if (data == "nil") {
            $("#login-modal").css("display","block");
          }
        });
      });
