/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


body {
  background: #f6f6ff;
  font-size: 14px;
}

/* Title */
h1 {
	color: #e74c3c;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	margin-top: 50px;
	position: relative;
	text-align: center;
	width: 100%; 
}

/* Text in footer */
h3 {
	color: #2c3e50;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: bold;
	margin-top: 400px;
	position: relative;
	text-align: center;
	width: 100%; 
}

/* Link styles */
a, a:visited, a:hover {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  color: #a05772;
}

/* Styles for buttons container */
.container {
	left: 50%;
	margin: -86px 0 0 -103px;
	position: absolute;
	top: 50%; 
}

/* Facebook */
.fb-icon-bg {
	background: #354f88;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px; 
}

.fb-icon-bg:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
  display: block;
  padding: 9px 10px 5px 15px;
}

.fb-bg {
	background: #3b5998;
	display: block;
	height: 37px;
	margin: 0 0 30px 41px;
	width: 166px; 
}

.fb-bg:after {
	color: #fff;
	content: "sign in with facebook";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	left: 8%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px; 
}

.fb-bg:hover{
  cursor: pointer;
}

.fb-bg:active{
  background: #354f88;
}

/* Google+ */
.g-icon-bg:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/g-icon.png);
  display: block;
  padding: 11px 10px 6px 13px;
}

.g-icon-bg {
	background: #ce3e26;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px; 
}
 
.g-bg {
	background: #de4c34;
	height: 37px;
	margin-left: 41px;
	width: 166px; 
}
 
.g-bg:after {
	color: #fff;
	content: "sign in with google+";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	left: 10%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px; 
}

.g-bg:hover {
  cursor: pointer;
}

.g-bg:active {
  background: #ce3e26;
}
